body {
    font-family: maven pro;
    background-color: #e4dbdb;
}
.forgot-password a{
    text-decoration: none;
    color: #969393;
    font-size: 1rem;
    font-weight: 600;
}
.forgot-password a:hover{
    color: #39acc9;
    text-decoration: underline;
}
.login .input-group span{
    border-left: none;
    border-radius: 0;
    background-color: transparent;
    font-size: 1.3rem;
}
.login .input-group input{
    border-right: none;
    border-radius: 0;
}
.form-control:focus-within,
.form-check-input:focus{
    box-shadow: none;
    border-color: #e4dbdb;
}
