.breadcrumb-bar {
    padding: 10px;
}

.breadcrumb-item {
    display: inline-block;
    color: #000;
    /* font-size: 1rem; */
}

.breadcrumb-item.active {
    color: #007bff;
}

.sidebar-header {
    font-size: 14px;
}

.btn-close {
    background-color: transparent;
    border: none;
}

.card-info .role {
    font-weight: bold;
}

.user-role .card:hover {
    box-shadow: 0 0 10px rgba(7, 7, 7, 0.3);
}

.user-role .card {
    height: 140px;
}

.user-role a:hover {
    text-decoration: none;
}

.card-text h5 {
    font-weight: 800;
    color: #007bff;
}

.title {
    font-weight: bold;
}
.data-table {
    background: #fff;
    padding: 15px;
    box-shadow: 1px 3px 5px #aaa;
    border-radius: 5px;
}

.data-table .btn {
    padding: 5px 10px;
    margin: 10px 3px 10px 0;
}
#myTable_length,
#myTable_filter {
    display: none;
}
.more-btn i{
    font-size: 20px;
}

.more-btn button {
    background: transparent;
    border: none;
}


/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

    .collapseItemDesktop,
    .toggleBtnDesktop {
        display: none;
    }

    /* .collapseItemMobile, */
    .toggleBtnMobile {
        display: flex;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .collapseItemDesktop,
    .toggleBtnDesktop {
        display: none;
    }

    /* .collapseItemMobile,
    .toggleBtnMobile{
        display: flex;
    } */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .collapseItemDesktop,
    .toggleBtnDesktop {
        display: flex;
    }

    .collapseItemMobile,
    .toggleBtnMobile {
        display: none;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .collapseItemDesktop,
    .toggleBtnDesktop {
        display: flex;
    }

    .collapseItemMobile,
    .toggleBtnMobile {
        display: none;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {}
